body {
  background: url(/src/shared/assets/images/tileable-axiom.png);
  float: left;
  min-width: 100%;
}

#\$tableCanvas {
  padding: 50px;
}
#\$table {
  background: url(/src/shared/assets/images/tileable-wood.png);
  transform-origin: 0 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
#\$actionBar {
  z-index: 100;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
#\$handBar {
  position: fixed; right: 0; bottom: 48px; left: 0;
  z-index: 99;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  display: flex;
  justify-content: center;
  transform-origin: center bottom;
}
#\$handBar.initialized {
  transition: transform 0.375s;
}
#\$handBar .zone-hand {
  background-color: rgba(0,0,0,0.3);
  padding: 20px 30px 0;
  border-radius: 5px 5px 0 0;
}

/* * * *
 * Zones
 */
[class^="zone-"] {
  box-shadow: none;
  transition: box-shadow 0.375s;
}
[class^="zone-"].droppable {
  transition: box-shadow 0.1 ease-out;
  box-shadow:
    inset 0 0 10px rgba(0,0,0,0.3),
    inset 0 0 20px rgba(0,0,0,0.3),
    inset 0 0 30px rgba(0,0,0,0.3),
    inset 0 0 40px rgba(255, 255, 255, 0.3),
    inset 0 0 70px rgba(255, 255, 255, 0.3),
    inset 0 0 80px rgba(255, 255, 255, 0.3),
    inset 0 0 100px rgba(255, 255, 255, 0.3),
    inset 0 0 150px rgba(255, 255, 255, 0.3);
}
[class^="zone-"].droppable.hover {
  box-shadow:
  inset 0 0 10px rgba(0,0,0,0.3),
  inset 0 0 20px rgba(0,0,0,0.3),
  inset 0 0 30px rgba(0,0,0,0.3),
  inset 0 0 40px rgba(255, 255, 255, 0.3),
  inset 0 0 70px rgba(255, 255, 255, 0.3),
  inset 0 0 80px rgba(255, 255, 255, 0.3),
  inset 0 0 100px rgba(255, 255, 255, 0.3),
  inset 0 0 150px rgba(255, 255, 255, 0.3),
   2px  2px 0 rgba(255, 255, 255, 0.8),
  -2px  2px 0 rgba(255, 255, 255, 0.8),
   2px -2px 0 rgba(255, 255, 255, 0.8),
  -2px -2px 0 rgba(255, 255, 255, 0.8);
}

/* * * *
 * Cards & Tokens
 */
.card.npc, .token.npc {
  transition: all 0.5s ease-out;
}
.card.dragging, .token.dragging {
  /* TODO: Necessary? */
  pointer-events: none;
}

.card {
  perspective: 1000px;
  transform: translate(0, 0);
}
.card .card-flipper {
  transition: 0.6s;
	transform-style: preserve-3d;

  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.card[data-face="down"] .card-flipper {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute; top: 0; right: 0; bottom: 0; left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.card .card-front {
  z-index: 501;
  transform: rotateY(0deg);
}
.card .card-back {
  z-index: 502;
  transform: rotateY(-180deg);
}

.token {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
